/* Start utilities */
.hidden {
	display: none;
}
/* End utilities */

.match-filter-btn {
	background-color: #fff;
}

.match-filter-btn:focus,
.match-filter-btn.active:focus,
/* NOTE: This specific selector exists to override default Bootstrap behaviour */
.btn-outline-success.match-filter-btn:not(:disabled):not(.disabled).active:focus {
	box-shadow: none;
	outline: none;
}

.match {
	background-color: #fff;
	border: 1px solid #BFFFBF;
	border-radius: 5px;
	color: #2E3133;
	transition: background-color .25s ease;
}

.match:hover {
	background-color: #BFFFBF;
}

.hoverable-icon,
.hoverable-icon:hover,
.site-link {
	cursor: pointer;
}

.hoverable-icon-desc:hover {
	text-decoration: underline;
}