.outer-container {
	background: #2E3133;
	color: #fff;
}

.match {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #2E3133;
	cursor: pointer;
	transition: background-color .25s ease;
}

.match:hover {
	background-color: #B8C4CC;
	background-color: #BFFFBF;
}