.match-filter-btn {
	background-color: #fff;
}

.match-filter-btn:focus {
	box-shadow: none;
	outline: none;
}

.match {
	background-color: #fff;
	border: 1px solid #BFFFBF;
	border-radius: 5px;
	color: #2E3133;
	cursor: pointer;
	transition: background-color .25s ease;
}

.match:hover {
	background-color: #BFFFBF;
}